alias ll='ls -l'
alias g='grep'
alias wc='wc -l'
alias en='trans en:pl '
alias pl='trans pl:en '
alias f='find '
# dummy test line
alias poky-docker='docker run -ti -v ~/git-stuff/poky/:/home/yoctouser/poky/ -v ~/yocto-stuff/:/home/build/ gmacario/build-yocto'
test line
